hr {
  width: 1421px;
  margin-left: 473.5px;
  border-top: 1px solid var(--diviBorder);
  opacity: 0.5;

}


.navbar {
  color: var(--diviGrey);
  font: normal normal 700 21.6px/26.1px Lato;
  letter-spacing: 1.2px;
  display: flex;
  position: relative;
  margin-top: 74px;
  margin-left: 1048px;
  text-align: left;
}

.navbarLink {
  border: none;
  padding: 10px 29.5px 9px 29.5px;
  color: var(--diviGrey);
}

.active {
  border-top: 1px solid rgba(112, 112, 112, 0.5);;
  border-right: 1px solid rgba(112, 112, 112, 0.5);
  border-left: 1px solid rgba(112, 112, 112, 0.5);
}

a {
  text-decoration: none;
}

Nav a:hover {
  color: var(--diviBlue);
}
