.sidebar {
    position: fixed;
    font: normal normal 500 1.125rem/0.625rem Guardians;
    text-align: left;
    color: var(--diviBlue);
    border: var(--diviSky);
    top: 3.125rem;
    left: 3.125rem;
    width: 15.8125rem;
    height: 3.125rem;
}

div.vertical {
    position: fixed;
    margin-top: -2.8125rem;
    left: 23.0625rem;
    width: 0.0625rem;
    height: 55.625rem;
    background: rgba(112, 112, 112, 0.5);
}

.sidebar hr {
    width: 19.3125rem;
    top: 7.3125rem;
    margin-left: -1.875rem;
    opacity: 0.50;
}

.sidebar img {
    margin-top: 1.6875rem;
    top: 9rem;
    left: 3.625rem;
    width: 16rem;
    height: 14.9375rem;
}