@import 'Content_d.css' only screen and (min-width: 1200px);

:root {

    /* Colors: */
    --diviWhite: #FFFFFF;
    --diviGrey: #6D6A6A;
    --diviSilver: #8B8989;
    --diviRed: #F81212;
    --diviBlue: #72A9C5;
    --diviSky: #E5F6FF;
    --diviGreen: #83DE71;
    --diviBorder: #707070;
}

.wrapper {
    width: 100%;
}

@media screen and (min-resolution: 120dpi)
{
    .navbar-container {
        zoom: 80%;
    }

    .bodyContent {
        zoom: 80%;
    }

    .sidebar-container {
        zoom: 80%;
    }

    .sidebar {
        margin-top: 4.8rem;
        zoom: 80%;
    }

    div.vertical {
        zoom: 80%;
    }
}

@media screen and (min-resolution: 200dpi)
{
    .navbar-container {
        zoom: 80%;
    }

    .bodyContent {
        zoom: 80%;
    }

    .sidebar-container {
        zoom: 80%;
    }

    .sidebar {
        zoom: 80%;
    }

    div.vertical {
        zoom: 80%;
    }
}