:root {

    /* Colors: */
    --diviWhite: #FFFFFF;
    --diviGrey: #6D6A6A;
    --diviSilver: #8B8989;
    --diviRed: #F81212;
    --diviBlue: #72A9C5;
    --diviSky: #E5F6FF;
    --diviGreen: #83DE71;
    --diviBorder: #707070;
}

.bodyContent {
    margin-left: 29.625rem;
}

.home {
    margin-top: 6.96875rem;
}

.home p.homeContent {
    color: var(--diviSilver);
    font: normal normal 500 1.35rem/1.85625rem Open Sans;
    max-width: 47.9375rem;
    max-height: 26.1875rem;
    text-align: left;
    opacity: 1;
}

.home p.homeContentRed{
    margin-top: 2.4375rem;
    max-width: 47.9375rem;
    max-height: 9.0625rem;
    color: var(--diviRed);
    text-align: left;
    font: normal normal 800 1.35rem/1.63125rem Lato;
    letter-spacing: 0.075rem;

}

.home .homeTOS {
    color: var(--diviRed);
}

.tos {
    margin-top: 2.78125rem;
}

.tos h1 {
    font: normal normal 800 2.025rem/2.75625rem Open Sans;
    color: var(--diviGrey);
}